* {
    font-family: 'Signika Negative', sans-serif;
}

.App {
    text-align: center;
    color: #a7a8a9;
    background: #191c1e;
    height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

nav {
    background: var(--nav-bar-color);
    color: #a7a8a9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav img {
    max-height: 50px;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

nav h2 {
    max-height: 50px;
    color: var(--accent-color);
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: var(--btn-bg-color);
    border-radius: 9.5px;
}

nav h4 {
    max-height: 50px;
    color: white;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;

    border-radius: 9.5px;
}

nav h2:hover {
    color: var(--hover-nav-txt-color);
    background-color: var(--hover-nav-bg-color);
}

h1 {
    margin-top: 50px;
    text-align: center;
}

.home {
    margin-top: 50px;
}

.items {
    color: var(--primary-text-color);
    text-align: center;
    margin-top: 40px;
}

.gallery-container {
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: auto;
    margin-top: 40px;
    list-style: none;
    min-height: 100vh;

}

.item {
    border-style: solid;
    border: var(--border-color) 2px solid;
    padding: 5px;
    width: 300px;
    height: 350px;
    margin: 20px 1px 0;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    border-radius: 20px;
    color: var(--primary-text-color)

}

.item-info {
    color: var(--primary-text-color);
    padding: 1px;
    width: 250px;
    margin: auto;
    border-radius: 10px;
}

.gallery-image {
    height: 225px;
    width: auto;
    max-width: 300px;
    max-height: 225px;
}

.item-title {
    color: var(--primary-text-color);
    font-size: 0.35em;
}

.price {
    color: var(--primary-text-color);
    font-size: 20px;
}

.sell-button {
    margin-left: auto;
    margin-right: 10px;
}

.cart {
    margin-left: 10px;
    margin-right: 20px;
}

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.nav h2 {
    float: right;
}

nav h4 {
    margin-left: auto;
    margin-right: auto;
}

.product-title {
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    color: var(--primary-text-color);
}

.product-box {
    max-width: 1100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: auto;
    list-style: none;
    color: var(--primary-text-color);
}

.description-image {
    height: 550px;
    width: auto;
    border-radius: 15px;
}

.item-price {
    font-size: 40px;
    color: var(--primary-text-color);
}

.item-description {
    width: 450px;
    font-size: 20px;
    color: var(--primary-text-color);
}

.buy-button {
    background-color: #7ae582;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    margin-right: 20px;
    font-weight: bold;
}

.buy-button:hover {
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    color: var(--hover-btn-txt-color);

}

.edit-button {
    background-color: #fec601;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
}

.review-button {
    background-color: #fec601;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
}

.review-button:hover {
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    color: var(--hover-btn-txt-color);
}

.edit-button:hover {
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    color: var(--hover-btn-txt-color);
}

.delete-comment-button {
    background-color: #fec601;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
}

.delete-comment-button:hover {
    cursor: pointer;
    background-color:var(--hover-btn-bg-color);
    color: var(--hover-btn-text-color);
}

.reviews-box {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    color: var(--primary-text-color);
}

.item-description-box {
    padding: 15px;
    border-radius: 30px;
}

.comment-box {
    padding: 15px;
    margin: 20px;
    background-color: var(--cmt-box-bg);
    border-radius: 30px;
    border: var(--border-second-color) 2px solid;
}

.reviews-box {
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border-color);
    border-radius: 30px;
}

.item-box {
    max-width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    list-style: none;
    border: 2px solid var(--border-second-color);
    border-radius: 10px;
}
.short-text{
    color: var(--primary-text-color);
}
.shipping-box {
    max-width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    list-style: none;
    border: var(--border-second-color) 2px solid;
    border-radius: 5px;
}

.shipping-input-box {
    /* display: inline-block; */
    float: right;
}

.input {
    margin: 15px;
    width: 300px;
    height: 30px;
}

.item-button {
    background-color: #fec601;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
    margin-top: 15px;
}


.cancel-button {
    background-color: #fec601;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 40px;
}
.cancel-button:hover{
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    color: var(--hover-btn-txt-color);
}

.action-page {
    height: 100vh;
    color: var(--primary-text-color);
}

.shipping-info-container-sent {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: auto;
    margin-top: 60px;
    padding: 30px;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.item-button:hover {
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    color: var(--hover-btn-txt-color);
}

.action-page {
    height: 100vh;

}

#root {
    height: 100vh;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.description-page {
    min-height: 100vh;
}

@media only screen and (max-width: 375px) {
    .description-page {
        text-align: center;
    }
    .description-image {
        height: 100%;
        width: 340px;
    }
    .reviews-box {
        max-width: 280px;
        margin-right: 50px;
    }
    .cart {
        margin-right: 30px;
    }

    .item {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 390px) {
    .description-page {
        text-align: center;
    }
    .description-image {
        height: 100%;
        width: 340px;
    }
    .reviews-box {
        margin-right: 60px;
    }
    .cart {
        margin-right: 30px;
    }
    .item {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 414px) {
    .description-page {
        text-align: center;
    }
    .description-image {
        height: 100%;
        width: 380px;
        padding-right: 26px;

    }

    .reviews-box {
        max-width: 280px;
        margin-left: 40px;
    }

    .cart {
        margin-right: 30px;
    }

    .item-description-box {
        max-width: 300px;

    }

    .item-description {
        max-width: 300px;
    }
}

@media only screen and (max-width: 912px) {
    .product-title {
        text-align: center;
    }

    .description-image {
        height: 100%;
        max-width: 800px;
    }
}

@media only screen and (max-width: 1024px) {
    .cart {
        margin-right: 80px;
    }

    .description-image {
        height: 100%;
        max-width: 800px;
    }

    .product-title {
        text-align: center;
    }
}